configparser==3.5.0
decorator==4.1.2
entrypoints==0.2.3
enum34==1.1.6
ez-setup==0.9
Flask==0.12.2
get==0.0.39
gunicorn==19.7.1
html5lib==1.0b10
ipython==5.5.0
ipython-genutils==0.2.0
pyparsing==2.0.1
python-dateutil==2.6.1
